<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.onepilltest">

    <!-- Zxing -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 和风天气 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 读写SD卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 地图等的相关权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 聊天室权限 -->
    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ECApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeNoTitle"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.onepilltest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 配置访问百度地图的API_KEY -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="r26pHuDLyGxHGZHEBLU5LMQHK64D0Z0j" />

        <activity android:name=".welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 百度地图定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v5.0.0" />
            </intent-filter>
        </service>

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1106191028157045#onepilltest" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name=".index.HomeActivity" />
        <activity android:name=".index.FoundPatientActivity" />
        <activity android:name=".index.FoundDoctorActivity" />
        <activity android:name=".welcome.LoginActivity" />
        <activity android:name=".welcome.LoginDoctorActivity" />
        <activity android:name=".welcome.PerfectInforDoctorActivity" />
        <activity android:name=".welcome.PerfectInforPatientActivity" />
        <activity android:name=".welcome.UserSuccessActivity" />
        <activity android:name=".welcome.DoctorSuccessActivity" />
        <activity android:name=".welcome.RegisterDoctor" />
        <activity android:name=".welcome.RegisterPatient" />
        <activity android:name=".personal.SettingActivity" />
        <activity android:name=".personal.AddressActivity" />
        <activity android:name=".personal.WalletActivity" />
        <activity android:name=".personal.QR_codeActivity" />
        <activity android:name=".personal.EditUserInfoActivity" />
        <activity android:name=".personal.EditAddressActivity" />
        <activity android:name=".personal.recordActivity" />
        <activity android:name=".message.QuestionActivity" />
        <activity android:name=".message.QuestionListActivity" />
        <activity android:name=".message.ListActivity" />
        <activity android:name=".index.CommentActivity" />
        <activity android:name=".personal.AddAddressActivity" />
        <activity android:name=".personal.oder.BuyerOrdersActivity" />
        <activity android:name=".personal.oder.MyOrdersActivity" />
        <activity android:name=".personal.FocusAndSaveActivity" />
        <activity android:name=".personal.cart.ShoppingCartActivity" />
        <activity android:name=".personal.HelpAndFeedBackActivity" />
        <activity android:name=".personal.switchActivity" />
        <activity android:name=".personal.UserList" />
        <activity android:name=".personal.SettingForUsActivity" />
        <activity android:name=".index.DoctorDetailsActivity" />
        <activity android:name=".personal.ProductActivity" />
        <activity android:name=".message.ChatActivity" />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity android:name="com.hyphenate.easeui.ui.EaseBaseActivity" />
        <!-- Ding msg send activity -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseDingMsgSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- Ding ack user list activity -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseDingAckUserListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 下载文件 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- <activity android:name=".index.ZxingActivity"></activity> -->
        <!-- 二维码扫码 -->
        <activity android:name=".index.ZxingActivity" />
        <activity android:name=".message.NewChatActivity"></activity>
    </application>

</manifest>