<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onepilltest">

    <!--读写SD卡权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--地图等的相关权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--配置访问百度地图的API_KEY-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="r26pHuDLyGxHGZHEBLU5LMQHK64D0Z0j" />
        <activity android:name=".welcome.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--百度地图定位服务-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v5.0.0" />
            </intent-filter>
        </service>

        <activity android:name=".index.HomeActivity" />
        <activity android:name=".index.FoundPatientActivity" />
        <activity android:name=".index.FoundDoctorActivity" />
        <activity android:name=".welcome.PerfectInforDoctorActivity" />
        <activity android:name=".welcome.PerfectInforPatientActivity" />
        <activity android:name=".welcome.RegisteredActivity" />
        <activity android:name=".welcome.RegisterDoctor" />
        <activity android:name=".welcome.RegisterPatient" />
        <activity android:name=".personal.SettingActivity" />
        <activity android:name=".personal.AddressActivity" />
        <activity android:name=".personal.WalletActivity" />
        <activity android:name=".personal.QR_codeActivity" />
        <activity android:name=".personal.EditUserInfoActivity" />
        <activity android:name=".personal.EditAddressActivity" />
        <activity android:name=".message.QuestionActivity" />
    </application>

</manifest>